@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-poppins: "Poppins", "Helvetica Neue", "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.poppins{
  font-family: var(--font-poppins), sans-serif;
}

.poppins-regular{
    font-weight: 400;
}
.poppins-medium{
    font-weight: 500;
}
.poppins-light{
    font-weight: 300;
}
.poppins-thin{
    font-weight: 100;
}
.poppins-bold{
    font-weight: 700;
}
.poppins-semibold{
    font-weight: 600;
}

.logo{
    border-radius: 50%;

}